doctype html

html
  head
    meta(charset="utf-8")

    title Vallaservice

    meta(name="description", content="Vallaservice vallar skidor inför Vasaloppet.")
    meta(name="keywords", content="Skidvalla, Vasaloppet")

    link(rel="stylesheet", href="style.css")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")

  body
    .first
      .container
        .row
          .span12.bar
            .row
              .span4
                img(src="assets/logo.png").masterlogo

        .row.jumbotron
          .span12
            img(src="assets/jumbotron.jpg")

        .row
          .span8
            .row
              .span4.quality
                h2 Lång erfarenhet av skidsport

                p Gänget på Vallaservice har varit med ett tag. Vi har sett det mesta när det gäller skidsport. Våra erfarna personal blir till er trygghet - vi vet hur skidor ska vallas.
                
                h2 Våra experter hjälper er

                p Oavsett om ni är rutinerade skidåkare eller nykomlingar vill vi se till att ni alltid får de bästa förutsättningarna för ett lyckat lopp. Våra expertiser har mångårig erfarenhet och står redo och hjälpa er välja rätt valla. Utnyttja möjligheten att fråga oss - det lönar sig!

              .span4.quality
                h2 Vallning i Sälen & Mora

                p Lämna era skidor i Sälen eller Mora. Vi ser till att de är redo att hämtas vid starten, oavsett vilket lopp ni åker!
                
                h2 Vi vallar med

                img(src="assets/swix.png").brandlogo
                img(src="assets/kuzmin.png").brandlogo
          .span4
            h2#contact-us Kontakta oss

            p Om ni vill diskutera kring skidvalla, boka in preparering inför ett lopp  eller om ni har några frågor så är ni mer än välkomna att kontakta oss på Vallaservice! Våra experter är redo att svara på era frågor, både via telefon och epost.

            span#shake
              h4 08-723 10 00 (mån-fre, 08:00 - 18:00)
              h4 
                a#order-link(href="mailto:info@svenskkrafta.se") info@vallaservice.se

            p
              iframe(src='//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FVallaservice%2F300111860102970&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=false&amp;font=arial&amp;colorscheme=light&amp;action=recommend&amp;height=21', scrolling='no', frameborder='0', style='border: none; overflow: hidden; width: 150px; height: 21px;', allowtransparency='true')

    .second.hidden-phone
      .upper
        .container
          .row
            .span12
              h1 Mångåring erfarenhet av skidsport
      .lower
        .container
          .row
            .span3.offset1
              h2 Erfarna experter & de senaste vallningsteknikerna.

              p Tack vare våra efarna experter som har mångårig erfarenhet av vallning av skidor, kan du som kund tryggt lämna in dina skidor hos oss. Vi följer dom senaste väderprognoserna och ser till att rätt valla och fästvalla läggs på efter hur väderförhållandena kommer att bli.
            .span8.lake.photo
              img(src="assets/lake.jpg")
          .row
            .span8.boat.photo
              img(src="assets/boat.jpg")
            .span3
              h2 Senaste vallningsteknikerna

              p Vi använder oss av båda gamla och nya metoder. Swix beprövade system tillsammans med Kuzmins stålsicklade skidor gör att du får absolut bästa möjliga glid och fäste. Om du dessutom väljer att lägga på swix pulver så har du ett glid som räcker i många mil. 
    .third.hidden-phone
      .upper
        .container
          .row
            .span12
              h1 Vi vallar med följande tekniker
      .lower
        .container
          .row.crayfish
            .span4.offset1
              h2 Kuzmin sickling

              p En revolutionerande uppfinning av Leonid Kuzmin. En kuzmin "stål sickel" konstruerad för att skrapa bort ett  tunnt skickt av beläggningen på skidan och minimera friktionsytan mot snön. Leonid Kuzmin är före detta rysk mästare i skidskytte och nu arbetar han inom forskning för att optimera prestationerna för andra skidåkare.
            .span7.photo
                img(src="assets/crayfish-4.jpg")
          .row.truck
            .span7.photo
              img(src="assets/truck.png")
            .span4
              h2 Swix

              p Swix har funnits på marknaden i många år och används av allt från elitåkare till vardagsåkare. Deras produkter har tagits fram genom år av forskning och används världen över. Vallan smälts in i strukturen på skidan och optimerar glidegenskaperna.
    .fourth.hidden-phone
      .upper
        .container
          .row
            .span12
              h1 Lämna var du vill - hämta vid starten
      .lower
        .container
          .row
            .span4.offset1
              h2 Här står vi i Sälen

              p En nyhet för i år är att du kan lämna skidorna där det passar dig och hämta de vid starten, färdigpreparerade och redo för ditt lopp. Vi finns på plats i både Sälen och Mora för att ta emot dina skidor, oavsett vilket lopp du åker. Välkommen!
            .span7.photo
              img(src="assets/party-2.jpg").party
          .row.crayfish
            .span7.photo
              img(src="assets/crayfish-3.jpg")
            .span4
              h2 Inlämning i Mora - uthämtning vid starten

              p Lämna in dina skidor hos oss i Mora dagen innan och hämta ut dem vid starten.
          .row.thumbnails
            .span4.photo
              img(src="assets/crayfish-1.jpg").left
            .span4.photo
              img(src="assets/party-1.jpg").center
            .span4.photo
              img(src="assets/crayfish-2.jpg").right

    .fifth
      .container
        .row
          .span4.enlighten
            h2 Frågor? Funderingar? 

            p Om du har några frågor eller vill boka preparering av skidor kan du maila eller ringa oss på <b>08-723 1000</b>.

            h3 Lopp och priser
              
            h4 Tider för in-/utlämning av skidor

            a.btn.btn-info#price(href="assets/tider2013.pdf") Se samtliga tider

            h4 Prislista

            a.btn.btn-info#price(href="assets/prislista2013.pdf") Se vår prislista

            form#mc.validate(action='#', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='novalidate')
              label(for='mc-email') Prenumerera på vårt nyhetsbrev för att få information inför varje säsong!
              input#mc-email.email(type='email', value='', name='EMAIL', placeholder='E-mail', required='required')
              input.btn(type='submit', value='Prenumerera', name='subscribe')
          .span5
            h2 Boka preparering
            p För att boka preparering, fyll i orderformuläret med vilket lopp du planerar att åka. Om du vill kan du bestämma vilken preparering du vill ha, i annat fall hjälper våra experter dig att vid inlämning välja den bästa vallan.

            form#order.form-horizontal
              .control-group
                label.control-label Välj lopp
                .controls
                  select.span3(name='customFields[1]')
                    option 
                    option Kortvasan/Tjejvasan 21/2
                    option Kortvasan/Tjejvasan 22/2
                    option Öppetspår 23/2
                    option Öppetspår 24/2
                    option Halvvasan 25/2
                    option Stafettvasan/Skejtvasan 28/2
                    option Vasaloppet 1/3 
                    option Vasaloppet 2/3
              .control-group
                label.control-label Önskat vallningspaket
                .controls
                  select.span3.products(name='products')
                    option
              .control-group
                label.control-label Inlämning av skidor i
                .controls
                  select.span3(name='customFields[2]')
                    option
                    option Sälen
                    option Mora
              .control-group
                label.control-label Instruktioner till vallningsteamet
                .controls
                  textarea.span3(name='order[deliveryNotes]')

              .control-group
                label.control-label Befintlig kund?
                .controls
                  label.radio.inline
                    input(type='radio', name='toggleCustomer', value='true')
                    span Ja
                  label.radio.inline
                    input(type='radio', name='toggleCustomer', value='false')
                    span Nej


              section.newCustomer.hidden
                .control-group
                  label.control-label Kundkod
                  .controls
                    input.try.span3(type='password', name='customer[try]')

                .control-group
                  label.control-label
                  .controls
                    span.selectedCustomer Ingen matchning

              section.oldCustomer.hidden
                .control-group
                  label.control-label Fullständigt namn
                  .controls
                    input.span3(type='text', name='customer[name]')
                .control-group
                  label.control-label Telefon
                  .controls
                    input.span3(type='text', name='customer[phone]')
                .control-group
                  label.control-label Epost
                  .controls
                    input.span3(type='text', name='customer[mail]')



              .control-group
                .controls
                  input.btn(type='submit', value='Boka preparering', name='book')
                  input(type="hidden", name="order[delivery]", value="none")



    .sixth
      .container.clearfix
        img(src='assets/logo.png')

        .right
          p Vallaservice i Sälen
          p info@vallaservice.se
          p 08-273 10 00

    // script(type="text/javascript")
      !{script}
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='companyadmin.js')
